# ignore binary files
*
!/**/
!*.*
#
nimcache/
nimblecache/
htmldocs/
keys.json
.vscode/
*.db
*.js
public/css
public/docs
*.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
