<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Listen2gether</title>
  <link rel="icon" href="assets/favicon.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="">
</head>

<body>
  <div class="grid">
    <header>
      <a class="header" href="home.html">Listen<span style="color:#FF4545">2</span>gether</a>
    </header>
    <main>
      <div id="username">
        <input id="username_input" class="textbox" type="text" placeholder="Enter their Username">
        <label class="switch">
          <input id=service_switch type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
      <div id="token">
        <input id="token_input" class="textbox" type="text" placeholder="Enter your ListenBrainz token">
      </div>
    </main>
    <footer>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html"><img src="assets/agpl.svg" alt="GNU AGPL icon" class="icon"></a>
    </footer>
  </div>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>