html,
body {
  font: normal 1rem Inter, sans-serif;
  color: #000000;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  padding: 2.5% 0% 1% 0%;
  border: 0.01rem solid #cccccc;
  box-sizing: border-box;
  font: normal 3em Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

header > a,
header > a:visited {
  color: #000000;
}

a > span {
  color: #FF4545;
}

main > div {
  display: flex;
  justify-content: space-between;
  max-width: 20em;
  margin: auto auto auto auto;
  border: 0.01rem solid #000000;
  border-radius: 2rem;
  box-sizing: border-box;
  box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.25);
  padding: 0.4rem 0.5rem 0.4rem 1rem;
}

#username {
  margin: 10% auto auto auto;
}

#token {
  margin: 2.5% auto auto auto;
  display: none;
}

input {
  min-width: 14em;

}

.textbox {
  background: none;
  border: none;
  outline: none;
  font: normal 1rem Inter, sans-serif;
  margin-right: 0.5em;
  flex-grow: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 0.01rem solid #000000;
  border-radius: 2.125em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(assets/listenbrainz-logo.svg);
  background-size: 1.25em 1.25em;
  background-position: 0.1875em;
  background-repeat: no-repeat;
  height: 1.625em;
  width: 1.625em;
  left: 0.2em;
  bottom: 0.15em;
  background-color: #ffb084;
  border: 0.01rem solid #000000;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625em black;
}

input:checked + .slider:before {
  background-image: url(assets/lastfm-logo.svg);
  background-color: #ff4545;
  -webkit-transform: translateX(1.55em);
  -ms-transform: translateX(1.55em);
  transform: translateX(1.55em);
}

footer {
  padding: 2% 0% 0% 0%;
  margin: 10% 0% 0% 0%;
  border: 0.01rem solid #cccccc;
  box-sizing: border-box;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 4rem;
  padding: 1% 0% 1% 0%;
}
