@use 'include/_variables' as v

html, body
  font: normal .9rem v.$body-font
  color: v.$fg
  background: v.$bg
  padding: 0
  margin: 0
  overflow-x: hidden

.dark-mode
  color: v.$dark-fg
  background: v.$dark-bg

*, ::after, ::before
  box-sizing: border-box

#ROOT
  display: flex
  flex-direction: column
  min-height: 100vh

header
  padding: 2.5% 0% 1% 0%
  border: 0.01rem solid v.$border
  border-bottom: none
  font: normal 2.5rem v.$body-font
  font-weight: 600
  text-align: center
  color: v.$fg

.dark-mode
  header
    border: 0.01rem solid v.$dark-border
    border-bottom: none
    color: v.$dark-fg

a
  :link
    color: v.$link

  :visited
    color: v.$link-visited

  :hover
    color: v.$link-hover

.dark-mode
  a
    :link
      color: v.$dark-link

    :visited
      color: v.$dark-link-visited

    :hover
      color: v.$dark-link-hover

.header
  color: v.$fg
  text-decoration: none

  &:visited
    color: v.$fg
    text-decoration: none

  > span
    color: v.$red

.dark-mode
  .header
    color: v.$dark-fg

  &:visited
    color: v.$dark-fg

main
  border: 0.01rem solid v.$border
  flex: 1 0 auto

.dark-mode
  main
    border: 0.01rem solid v.$dark-border

.container
  display: flex
  flex-direction: row
  margin: 0 25vw auto
  flex-wrap: wrap

@media (max-width: 1368px)
  .container
    margin: auto 15vw

@media (max-width: 1080px)
  .container
    margin: auto 10vw

@media (max-width: 900px)
  .container
    flex-direction: column
    margin: auto 1vw

.col
  padding: 2em 1em
  display: flex
  flex: 50%

p
  margin: 0

::placeholder
  color: v.$placeholder

.dark-mode
  ::placeholder
    color: v.$dark-placeholder

.row
  display: flex
  align-items: center
  margin: 0.75rem
  border: 0.01rem solid v.$fg
  box-sizing: border-box
  box-shadow: 0 0.05em 0.05em hsl(0deg 0% 0% / 0.15), 0 0.1em 0.1em hsl(0deg 0% 0% / 0.2), 0 0.2em 0.2em hsl(0deg 0% 0% / 0.15), 0 0.4em 0.4em hsl(0deg 0% 0% / 0.1)

  /* square */
  border-radius: .5em
  padding: 0.6rem

  /* round */
  /* border-radius: 2rem
   padding: 0.4rem 0.5rem 0.4rem 1rem */

.dark-mode
  .row
    border: 0.01rem solid v.$dark-fg

button
  background: v.$bg
  color: v.$fg

button:hover
  background: v.$accent

.dark-mode
  button
    background: v.$dark-bg
    color: v.$dark-fg

  button:hover
    background: v.$dark-accent

input
  color: v.$fg

.dark-mode
  input
    color: v.$dark-fg

.error-message:empty
  display: none

#error
  margin: .5rem
  color: v.$red

#spinner
  max-width: 2em
  margin: 2em

footer
  display: flex
  align-items: center
  justify-content: center
  padding: 1em 0
  border: 0.01rem solid v.$border
  border-top: none

.dark-mode
  footer
    border: 0.01rem solid v.$dark-border
    border-top: none

.icon
  display: block
  height: 1rem
  margin-right: .5rem

.dark-mode
  #github
    filter: invert(100%)

.switch
  position: relative
  display: inline-block
  width: 3.75em
  height: 2.125em

  .toggle
    opacity: 0
    width: 0
    height: 0

.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  transition: 0.4s
  -webkit-transition: 0.4s
  border: 0.01rem solid v.$fg
  border-radius: 2.125em

  &:before
    position: absolute
    display: block
    content: ""
    height: 1.625em
    width: 1.625em
    left: 0.2em
    bottom: 0.2em
    transition: 0.4s
    -webkit-transition: 0.4s
    border: 0.01rem solid v.$fg
    border-radius: 50%

.dark-mode
  .slider
    border: 0.01rem solid v.$dark-fg

    &:before
      border: 0.01rem solid v.$dark-fg

.toggle
  &:checked + .slider:before
    transform: translateX(1.65em)
    -webkit-transform: translateX(1.65em)
    -ms-transform: translateX(1.65em)

#dark-mode-slider
  &:before
    border: none
    background: #ffd31c
    background-size: 1.25em
    background-position: center
    background-repeat: no-repeat
    background-image: url(../assets/sun.svg)

#dark-mode-switch
  &:checked + #dark-mode-slider:before
    background-size: 1.25em
    background-position: center
    background-repeat: no-repeat
    background-image: url(../assets/moon.svg)
    filter: invert(100%)
