@use 'include/_variables' as v
@use 'include/_themes' as t

#title-container
  flex-direction: column

.break-column
  flex-basis: 100%
  width: 0

.login-container
  display: flex
  flex-wrap: wrap
  margin: 2em auto
  flex-direction: column
  align-items: center
  justify-content: center

#logo-container
  justify-content: space-evenly

.logo
  height: 7em

#matrix-logo
  @include t.dark
    filter: invert(100%)

#demo-container
  align-content: center
  display: grid

#description-container
  align-items: center

#modal-text
  text-align: center
  margin-bottom: .25rem

#returning-user
  display: flex
  flex-direction: column
  align-items: center

#title
  font: normal 3.5rem v.$header-font

#subtitle
  font: normal 1.8rem v.$body-font
  margin: 1.75em 0 0 0

.body
  font: normal 1.2rem v.$body-font

.textbox
  flex-grow: 1
  justify-content: space-between
  width: 21em
  max-width: 21em

.text-input
  background: none
  border: none
  outline: none
  font: normal 1.1rem v.$body-font
  flex-grow: 1

.text-input, #service-switch
  min-width: 13em

#service-slider
  &:before
    background: v.$listenbrainz
    background-size: 1.25em
    background-position: center
    background-repeat: no-repeat
    background-image: url(../assets/listenbrainz-logo.svg)
    @include t.dark
      border-color: v.$dark-fg

#service-switch
  &:checked + #service-slider:before
    background: v.$red
    background-size: 1.25em
    background-position: center
    background-repeat: no-repeat
    background-image: url(../assets/lastfm-logo.svg)

#lastfm-auth > p
  padding: 1em
  font-style: italic
  text-align: center

.token-input
  padding: .3rem 0rem

#service-modal-container
  align-items: center
  display: flex
  flex-direction: column
  padding-bottom: .5em

#service-modal
  display: flex
  justify-content: space-evenly
  padding-top: .25em

.service-logo-button
  height: 3em
  padding: .5em
  display: flex
  align-items: center
  border: 0.01rem solid v.$fg
  border-radius: 50%
  @include t.dark
    border-color: v.$dark-fg

#listenbrainz > .service-logo-button, #listenbrainz-icon
  background: v.$listenbrainz

#lastfm > .service-logo-button, #lastfm-icon
  background: v.$lastfm

.login-button
  margin: 0.5em
  font-size: 1.2em

#return-button
  @include t.dark
    filter: invert(100%)

.service-logo
  width: 2em

.service-icon
  border: 0.01rem solid v.$fg
  border-radius: 50%
  height: 1.625em
  width: 1.625em
  margin-right: .5em
  display: flex
  align-items: center
  @include t.dark
    border-color: v.$dark-fg

#button-modal
  display: flex
  justify-content: space-evenly

#mirror-modal
  display: flex
  flex-direction: column
  align-items: center
  padding-top: .5em

#mirror-button
  width: fit-content

#mirror-button:hover
  background: v.$red

#link
  text-decoration: underline
  font-style: italic

.user-icon
  height: 1.625em
  width: 1.625em
  padding: .125em

.selected
  background: v.$accent
  @include t.dark
    background: v.$dark-accent
