html,
body {
  font: normal .9rem Inter, sans-serif;
  color: #111111;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#ROOT {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2.5% 0% 1% 0%;
  border: 0.01rem solid #cccccc;
  border-bottom: none;
  box-sizing: border-box;
  font: normal 2.5rem Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.header,
.header:visited {
  color: #000000;
  text-decoration: none;
}

.header > span {
  color: #FF4545;
}

main {
  border: 0.01rem solid #cccccc;
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto 15%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.col {
  padding: 2em 1em;
  display: flex;
  flex: 50%;
}

p {
  margin: 0;
}

#title-container {
  flex-direction: column;
}

#login-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

/* #token {
  margin: 1.5em 0 4em 0;
} */

#logo-container {
  justify-content: space-evenly;
}

.logo {
  /* padding: 0 2.5rem; */
  height: 7em;
}

#demo-container {
  align-content: center;
  display: grid;
}

#description-container {
  align-items: center;
}

#login-container > p {
  text-align: center;
  font: normal 1.1rem Inter, sans-serif;
  /* margin: 1em 0;
  padding: 0 10em; */
}

#title {
  font: normal 3.5rem "Inter Medium", sans-serif;
}

#subtitle {
  font: normal 1.8rem "Inter", sans-serif;
  margin: 1.75em 0 0 0;
}

#body {
  font: normal 1.5rem "Inter", sans-serif;
}

#demo {
  width: 35em;
  border: 0.01rem solid #000000;
}

.textbox {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 21em;
  max-width: 21em;
  margin: 1.5rem 0 1rem 0;
  border: 0.01rem solid #000000;
  box-sizing: border-box;
  box-shadow:
    0 0.05em 0.05em hsl(0deg 0% 0% / 0.15),
    0 0.1em 0.1em hsl(0deg 0% 0% / 0.2),
    0 0.2em 0.2em hsl(0deg 0% 0% / 0.15),
    0 0.4em 0.4em hsl(0deg 0% 0% / 0.1);
  /* square */
  border-radius: .5em;
  padding: 0.4rem 0.6rem 0.4rem .6rem;
  /* round
  border-radius: 2rem;
  padding: 0.4rem 0.5rem 0.4rem 1rem; */

}

input {
  min-width: 13em;
}

.textinput {
  background: none;
  border: none;
  outline: none;
  font: normal 1.1rem Inter, sans-serif;
  flex-grow: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 0.01rem solid #000000;
  border-radius: 2.125em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(assets/listenbrainz-logo.svg);
  background-size: 1.25em;
  background-position: 0.1875em;
  background-repeat: no-repeat;
  height: 1.625em;
  width: 1.625em;
  left: 0.2em;
  bottom: 0.15em;
  background-color: #ffb084;
  border: 0.01rem solid #000000;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625em black;
}

input:checked + .slider:before {
  background-image: url(assets/lastfm-logo.svg);
  background-color: #ff4545;
  -webkit-transform: translateX(1.55em);
  -ms-transform: translateX(1.55em);
  transform: translateX(1.55em);
}

#token_input {
  padding: .3rem 0rem;
}

.mirror-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
}

#mirror {
  font-size: 1.25rem;
  text-align: center;
}

#mirror > p {
  font-size: 1.1rem;
  margin: 1em 0 0;
}

#mirror > p > a {
  font-style: italic;
}

.listens{
  display: flex;
  justify-content: center;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 20em;
  max-width: 30em;
  flex-grow: 1;
}

hr {
  margin: 1.25em 1.5em;
}

.listen {
  display: flex;
  align-items: center;
  margin: 1em 1.25em;
  border: 0.01rem solid #000000;
  border-radius: .5em;
  box-sizing: border-box;
  box-shadow:
    0 0.05em 0.05em hsl(0deg 0% 0% / 0.15),
    0 0.1em 0.1em hsl(0deg 0% 0% / 0.2),
    0 0.2em 0.2em hsl(0deg 0% 0% / 0.15),
    0 0.4em 0.4em hsl(0deg 0% 0% / 0.1);
  padding: .8rem;
}

#listen-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#listen-details > img {
  height: .8rem;
  margin-right: .8rem;
}

#listen-details > span {
  font-style: italic;
  text-align: right;
  margin-left: auto;
}

#track-details{
  max-width: 16.6rem;
}

#track-details > p {
  text-overflow: ellipsis;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

#listening, #listened {
  width: 1em;
}

#track-name {
  padding-bottom: 2.5%;
}

#artist-name {
  font-size: .85rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  border: 0.01rem solid #cccccc;
  border-top: none;
  box-sizing: border-box;
}

.icon {
  display: block;
  height: 1rem;
}

#agpl {
  margin-right: .5rem;
}
