$red: #FF4545
$listenbrainz: #FFB084
$lastfm: $red

// light colors
$bg: #FFF
$fg: #111
$placeholder: #707070
$link: #5f9fff
$link-visited: #2d81ff
$link-hover: #9bc3ff
$accent: #E2E2E2
$border: #c9c9c9

// dark colors
$dark-bg: #1f1f1f
$dark-fg: #ececec
$dark-placeholder: #8f8f8f
$dark-link: #fe8019
$dark-link-visited: #d65d0e
$dark-link-hover: $red
$dark-accent: #3a3a3a
$dark-border: #333

// fonts
$header-font: Inter Medium, sans-serif
$body-font: Inter, sans-serif

// matrix client
$inner-border-color: $border
$border-color: $border
$font: $body-font
