$red: #FF4545
$listenbrainz: #FFB084
$lastfm: $red

// light colors
$bg: #FFF
$fg: #111
$placeholder: #707070
$link: #5f9fff
$link-visited: #2d81ff
$link-hover: #9bc3ff
$accent: #E2E2E2
$border: #c9c9c9

// dark colors
$dark-bg: #1f1f1f
$dark-fg: #ececec
$dark-placeholder: #8f8f8f
$dark-link: #fe8019
$dark-link-visited: #d65d0e
$dark-link-hover: $red
$dark-accent: #3a3a3a
$dark-border: #333

// fonts
$header-font: Inter Medium, sans-serif
$body-font: Inter, sans-serif

//// matrix client
$font: $body-font

// colors
$inner-border: $border

$reply-accent: #E8E8E8 !default
$chat-hover: #E2E2E2 !default

$button: #EEE !default
$button-accent: #E2E2E2 !default

$scroll-accent: #D7D7D7 !default
$scrollbar-accent: #BFBFBF !default

// dark colors
$dark-inner-border: $dark-border

$dark-reply-accent: #242424
$dark-chat-hover: #282828

$dark-button: #111
$dark-button-accent: #424242

$dark-scroll-accent: #282828
$dark-scrollbar-accent: #404040
